.sidebar{
    background-color: $color-5;
    font-family: $font-1;
    height: 100%;
    min-height: $min-height;
    min-width: 264px;
    border-radius: $borderRadius;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 108px;
    grid-template-areas: 
    '1'
    '2'
    '3';

    .id{
        grid-area: 1;
        text-align: center;
        user-select: none;
        position: relative;

        .idContent{
            position: relative;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100%;

            img{
                border-radius: 50%;
                box-shadow: 0 0 0 4px $color-3, 0 0 0 8px $color-4, 0 0 0 12px $color-2;
                height: 250px;
            }
            h1{
                font-size: 1.3rem;
                text-transform: uppercase;
                letter-spacing: .2rem;
                margin-top: 1.5rem;
                color: $black;
            }
        }
    }
    .navigation{
        grid-area: 2;
        padding: 2rem 1rem;

        ul {
            height: 100%;
            display: grid;

            li{
                font-size: 1.3rem;
                position: relative;
                padding: 1rem 0 1rem .4rem;

                .navActive{
                    color:white;
                }

                .nav-item {
                    display: flex;
                    align-items: center;
                   }
                   
                   .pngHome, .pngKnowledges, .pngContact, .pngPortfolio {
                    width: 35px;
                    height: 35px;
                    margin-right: 5px; 
                   }

                a {
                    color: $black;

                    &:hover{
                        color: $white;
                        transition: 0.25s;
                    }
                }
            }
        }
    }
    .socialNetwork{
        grid-area: 3;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                .nav-res{
                    display: flex;
                    align-items: center;
                }
                .pngLinkedin, .pngGithub, .pngTwitter{
                    width: 45px;
                    height: 45px;
                    margin-right: 35px;
                }
            }
        }
    }
    .signature{
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: .1rem;

        p{
            color: $black;

            &:hover{
                color: $white;
            }
        }
    }
}

@media screen and (max-width :850px){
    .sidebar{
        display: flex;
        min-height: 50px;
        margin-bottom: .2rem;
        width: 100%;

        .id, .socialNetwork{
            display: none;
        }
        .navigation{
            width: 100%;
            padding: .1rem 1rem;

            ul{
                display: flex;
                justify-content: space-between;

                span{
                    margin-left: 0.3rem;
                       
                       .pngHome, .pngKnowledges, .pngContact, .pngPortfolio {
                        margin-right: 5px !important; 
                       }
                }
            }
        }
        .signature{
            display: none;
        }
    }
}
    
@media screen and (max-width :580px){
    .sidebar{
        display: flex;
        min-height: 50px;
        margin-bottom: .2rem;
        width: 100%;

        .id, .socialNetwork{
            display: none;
        }
        .navigation{
            width: 100%;
            padding: .1rem 1rem;

            ul{
                justify-content: space-around;

                li{
                    padding: 1rem 0 !important;
                       
                }
                span{
                    display: none;
                }
            }
        }
    }
}