.home{
    .homeContent{
        background: linear-gradient(115deg, $color-2 50%, transparent 100%);
        min-height: $min-height;
        width: 100%;
        border-radius: $borderRadius;
        position: relative;
        overflow: hidden;

        &:after{
            content: 'test';
            position: absolute;
            height: 100%;
            width: inherit;
            background: url('../../../public/media/shallow-depth-field-selective-focus-600nw-2131449791.webp') no-repeat center/cover;
            z-index: -1;
            filter: brightness(30%);
        }
        .content{
            position: absolute;
            top: 20%;
            left: 13%;

            h1{
                font-size: 5rem;
                text-transform: uppercase;
                text-shadow: -4px -7px 8px rgb(176, 149, 221);
                color: rgb(96 70 139);
            }
            h2{
                font-size: 2rem;
                padding: 1.5rem 0 3rem;
                color: rgb(96 70 139);
                text-shadow: -8px -3px 20px rgb(150 121 198);
            }
            .pdf{
                a{
                    font-size: 1.5rem;
                    background: $dark;
                    padding: 1rem 2rem;
                    border-radius: $borderRadius;
                    box-shadow: inset 0px 0px 8px 2px rgb(150, 121, 198);
                    transition: .75s;

                    &:hover{
                        background: $color-5;
                        color: $dark;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:850px){
    .homeContent{
        margin: 0 !important;
    }
}

@media screen and (max-width:580px){
    .homeContent{
        .content{
            left: 3% !important;
        
            h1{
                font-size: 3rem;
            }
            h2{
                padding: 1.5rem 0 1rem;
                font-size: 1.8rem;
            }
        }
    }
}