.portfolio{
    .portfolioContent{
        width: 100%;
        display: grid;
        min-height: $min-height;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        "1"
        "2";
    }
    .radioDisplay{
        grid-area: 1;
        border-radius: $borderRadius;
        display: flex;
        width: 100%;
        padding: 1rem 2rem;
        margin: 0 auto;
        background: $color-1;
        user-select: none;
        box-shadow: $shadow;
        
        li{
            color: $color-3;
            font-size: 1.1rem;
            text-transform: uppercase;
            padding: 0 1rem;
            flex: 1;
            z-index: 2;
            @include verticalCenter;

            .checkbox {
                visibility: hidden;
                position: absolute;
                opacity: 0;
               }
               
               label {
                position: relative;
                color: $color-6;
                padding-left: 30px; // Espacement pour le pseudo-élément
                cursor: pointer;
               }
               label:hover{
                transition: 0.75s;
                filter: brightness(200%);
               }
               label::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: rgb(194 185 254);
                border: 2px solid #000;
                border-radius: 50%; // Pour un bouton radio
                transition: 0.75s;
                transform: scale(0.4); // Initialisation à une échelle de 0
               }
               
               .checkbox:checked + label::before {
                transition: 0.75s;
                background-color: #000000;
                transform: scale(1); // Scale à 1 pour remplir le cercle
               } 
        }
    }
}
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    padding-top: 25px;
    .project{
        border: 2px solid black;
        border-radius: 15px;
        background-color: $color-2;
        padding:0px 15px 0px 15px;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icons{
            display: flex;
            flex-direction: column;
            align-items: center;
            .iconsimg{
                display: flex;
            }
            .imgIcons{
                display: flex;
                width: 50px;
                height: 50px;
            }
            h3{
                font-size: 1.5rem;
                color: $color-3;
                padding-bottom: 25px;
            }
            .imgProject{
                width: 90%;
                height: 250px;
                transition: 0.5s;
                border-radius: 15px;
                box-shadow:#FFF 0 -1px 4px, rgb(194 185 254)0 -2px 10px, #2a1d52 0 -10px 20px, rgb(176 149 221) 0 -18px 40px, 5px 5px 6px -9px rgba(0,0,0,0);
            }
            .imgProject:hover{
                transition: 0.75s;
                border-radius: 25px;
                filter: brightness(125%);
                box-shadow: #FFF 0 -1px 4px, rgb(194, 185, 254) 0 -2px 10px, #2a1d52 0 -10px 20px, rgb(176, 149, 221) 0px 20px 40px, 5px 5px 6px -9px rgba(0, 0, 0, 0);
            }
            .infos{
                margin-top: 5%;
                display: flex;
                align-items: center;
                flex-direction: column;
                img{
                    width: 80%;
                    transition: 0.75s;
                    border-radius: 50%;
                    cursor: pointer;
                }
                img:hover{
                    transition: 0.5s;
                    filter: brightness(125%);
                    box-shadow:#FFF 0 -1px 4px, rgb(194, 185, 254) 0 -2px 10px, #2a1d52 0 -10px 20px, rgb(176, 149, 221) 0px 8px 40px, 5px 5px 6px -9px rgba(0, 0, 0, 0);
                    transform: scale(1.1);
                }
            }
            .showInfos{
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan grisé semi-transparent */
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;

                .infosContent{
                    background-color: rgb(131 80 138);
                    padding: 20px;
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                    color: #000;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    width: 30%;

                    .head{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h2{
                            font-size: 2rem;
                            padding-bottom: 10px;
                        }
                        .sourceCode{
                            a{
                                color: #ffffff;
                                padding: 5px;
                                border-radius: 5px;
                                box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                                transition: 0.75s;
                                margin-right: 15px;
                            }
                            a:hover{
                                transition: 0.75s;
                                background-color: $color-2;
                                border-radius: 10px;
                                color: $black;
                            }
                        }
                        p{
                            
                        }
                    }
                    .button.return {
                        display: block;
                        margin: 20px auto;
                        padding: 10px 20px; 
                        color: white;
                        border-radius: 5px; 
                        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                        text-align: center;
                        cursor: pointer;
                        transition: 0.75s;
                       }
                       .button.return:hover {
                        transition: 0.75s;
                        background-color: $color-2; 
                        border-radius: 10px; 
                        color: $black;
                       } 
                }
                .infosContent .text{
                    margin-top: 20px;
                }
            }
        }
    }
}
@media (max-width: 520px){
    .radioDisplay{
        display: none !important;
    }
    .portfolioContent{
        grid-template-rows: 1fr !important;

        .projects{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }

        .project {

            grid-template-rows: 30px 40px 80px 40px !important;
            width: 98% !important;

            img {
                height: 100% !important;
                max-height: 300px;
            }
        }
    }
}
    
